
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Comfortaa&display=swap');

* {
    margin: 0px;
    padding: 0px;
    
  }
  
  body {
    position: relative;
  }
  
  .top-decoration {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    background-image: url(./images/alll.jpg);
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
    z-index: -1;
  }
  
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 50px 30px;
  }
  
  h1 {
    margin-bottom: 15px;
    font-family: "Big Shoulders Stencil", sans-serif;
    transition: transform 0.2s ease-in-out;
  }
  h1:hover{
    transform: scale(1.05); 
  }
  .about-me {
    background-color: white;
    max-width: 500px;
    padding: 40px;
    font-family: "Comfortaa", sans-serif;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

  }
  
  .about-me > p {
    margin-bottom: 15px;
  }
  
  .about-logos {
    display: flex;
    justify-content: end;
    padding: 15px;
    gap: 10px;
  }
  button, .icons{
    width: 30px;
    height: 30px;
    border: 0px; 
    background-color: white;
    transition: transform 0.5s ease-in-out;
  }
  button:hover, .icons:hover {
    transform: scale(1.4); 
}
  
  .profile-container {
    position: relative;
  }
  
  .profile-pic {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    position: relative;
  }
  
  @media (max-width: 600px) {
    .profile-pic {
      width: 100%;
    }
  }
  
  .name-header {
    position: absolute;
    bottom: 5px;
    left: 25px;
    text-align: center;
    font-size: 3.5rem;
    color: white;
  }
  
  @media (max-width: 500px) {
    .name-header {
      font-size: 2rem;
    }
  }